*{
  max-width:100%;
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:"Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
 }

 html{
    font-size:62.5%;
 }
  .img1{
 padding-left:7.375rem;
 padding-top:0.313rem;
 width:25%;
 
 }

 @media(max-width: 500px) {
  .img1{
    margin-left:0px;
   }
}

@media(max-width:1023px) {
    .nav-bar{
     display:none;
    }
     .img1{
      padding-left:7.375rem;
      padding-top:0.313rem;
      width:50%;
    }
}
 .nav-bar{
    float:left;
 }
 ul{
  list-style-type:none;
  margin: 0;
  padding: 0;
 }

 .nav-bar li {
    float:left;
  }

 .nav-bar li a {
    padding:8px;
    text-decoration:none;
    color: black;
  }
  header{
    position: relative;
    top:10px;
    padding-bottom:1.25rem;
  }
  .nav-bar{
    position:absolute;
    top:10px;
    left:220px;
    font-size:1.3rem;
  }
  .nav-bar2{
    position:absolute;
    top:0.2rem;
    left:990px;
    font-size:14px;
    padding:0;
  }
  .burger {
    font-size: 2rem;
    cursor: pointer;
    display: none;
  }
  @media(max-width:1023px) {
    .nav-bar2{
      display:none;

    }
  }

  .nav-bar2 li{
    display:inline;
  }
  .nav-bar2 li a{
    padding:10px;
    text-decoration:none;
    color:black;
  }
   .score a{
    position:relative;
    top:0;
    text-decoration:none;
    color:black;
    background-color:greenyellow;
    display:block;
    text-align:center;
    padding:20px 20px 20px 20px;
    font-size:1.7rem;
    font-weight:500;
  }
  @media (max-width: 1023px) {
    .nav-links {
      display: flex;
      flex-direction: column;
      position: absolute;
      background-color: #ffffff;
      color: black;
      top: 60px;
      right:0;
      width: 100%;
      text-align: center;
    }
  
    .nav-links.active {
      display: flex;
    }
  
    .nav-links li {
      margin: 1rem 0;
    }
  
    .burger {
      display: block;
      position: absolute;
      top:10px;
      left:800px;
    }
  }
  @media(max-width:500px){
    .burger {
      display: block;
      position: absolute;
      top:1px;
      left:390px;
    }
  }

  @media(max-width:500px){
    .score a{
      position:relative;
      top:12px;
      font-size:2.5rem;
      padding:10px 15px 15px 15px;
    }
  }
  .section1 img{
  position: relative;
  
  }
 @media(max-width:500px){
  .section1 img{
  width:100%;
 }
}
  .section1 h6 {
   position:absolute;
   top:260px;
   left:125px;
   font-size:1.6rem;
   display:block;
   background-color:greenyellow;
   padding:10px 20px;
   font-weight:600;
  }
  @media(max-width:1023px){
    .section1 h6{
      position:absolute;
      top:500px;
      left:30px;
      font-size:1.6rem;
    }
  }
  @media(max-width:500px){
    .section1 h6{
      position:absolute;
      top:380px;
      left:30px;
      font-size:2rem;
    }
  }
  .section1 h5{
    position:absolute;
    top:310px;
    left:120px;
    font-size:3.2rem;
    font-weight:500;
  }
  @media(max-width:1023px){
    .section1 h5{
      position:absolute;
      top:550px;
      left:30px;
    }
  }
  @media(max-width: 500px){
    .section1 h5{
      position:absolute;
      top:450px;
      left:30px;
      font-size:3rem;
    }
  }
 .section1 h4 {
    position:absolute;
    top:395px;
    left:120px;
    font-size:1.6rem;
    font-weight:300;
  }
  @media(max-width:1023px){
    .section1 h4{
      position: absolute;
      top:600px;
      left:3rem;
    }
  }
  @media(max-width:500px){
    .section1 h4{
      position: absolute;
      top:500px;
      left:20px;
      font-size:2rem;
      text-align:left;
    } 
  }
  .section1 .blue a{
    position:absolute;
    top:485px;
    left:120px;
    background-color:rgb(9, 23, 179);
    color:white;
    text-align:start;
    font-size:1.6rem;
    padding:12px 20px;
    text-decoration:none;
  }
  @media(max-width:1023px){
    .section1 .blue a {
      position:absolute;
      top:690px;
      left:30px;
    }
  }
  @media (max-width:500px) {
    .section1 .blue a {
      position:absolute;
      top:610px;
      left:20px;
      font-size:2rem;
  }
}
  
  .section2{
    position:relative;
  }
  @media (max-width:1023px) {
    .section2 {
      height:90vh;
      left:0;
      top:200px;
      
    }
  }
  
  .shop1 img{
    position:absolute;
    top:100px;
    left:250px;
  }
  @media(max-width:1023px){
    .shop1 img{
      position:absolute;
      top:80px;
      left:220px;
      width:10vw;
    }
  }
 @media(max-width:500px) {
  .shop1 img{
    position: absolute;
      top:150px;
      left:190px;
      width:30vw;
  }
 }
  .shop1 p a{
    position:absolute;
    top:160px;
    left:200px;
    font-size:1.6rem;
    color:blue;
  }
  @media(max-width:1023px){
    .shop1 p a{
      position: absolute;
      top:150px;
      left:160px;
    }
  }
  @media(max-width:500px){ 
    .shop1 p a{
      position: absolute;
      top:260px;
      left:180px;
    }
  }
  .shop2 img{
    position:absolute;
    top:100px;
    left:500px;
  }
  @media(max-width:1023px){ 
    .shop2 img{
      position:absolute;
      top:80px;
      left:420px;
      width:10vw;
    }
  }
  @media(max-width:500px){
    .shop2 img{
      position: absolute;
      top:290px;
      left:30px;
      width:30vw;
    }
   }
  .shop2 p a{
    position:absolute;
    top:160px;
    left:420px;
    font-size:1.6rem;
    color:blue;
  }
  @media(max-width:1023px){ 
    .shop2 p a{
      position:absolute;
      top:150px;
      left:350px;
    }
  }
  @media(max-width:500px){ 
    .shop2 p a {
      position: absolute;
      top:440px;
      left:60px;
      font-size:1.9rem;
      width:15rem;
    }
  }
  .shop3 img{
    position:absolute;
    top:100px;
    left:750px;
  }
  @media(max-width:1023px){
    .shop3 img{
     position:absolute;
     top:80px;
     left:590px;
     width:10vw;
    }
  }
  @media(max-width:500px){
    .shop3 img {
      position: absolute;
      top:290px;
      left:330px;
      width:30vw;
    }
  }
.shop3 p a {
  position: absolute;
  top:160px;
  left:700px;
  font-size:1.6rem;
  color:blue;
}
@media(max-width:1023px){
  .shop3 p a {
    position:absolute;
    top:150px;
    left:600px;
  }
 }
 @media(max-width:500px){
  .shop3 p a {
    position: absolute;
    top:430px;
    left:350px;
    font-size:1.9rem;
    width:15px;
  }
}
.shop4 img{
  position:absolute;
  top:100px;
  left:980px;

}
@media(max-width:1023px) {
  .shop4 img{
    position:absolute;
    top:270px;
    left:280px;  
    width:10vw;     
  }
}
@media(max-width:500px) {
  .shop4 img{
    position: absolute;
    top:550px;
    left:30px;
    width:30vw;

  }
}
.shop4 p a {
  position:absolute;
  top:160px;
  left:930px;
  font-size:1.6rem;
  color:blue;
}
@media(max-width:1023px){
  .shop4 p a {
    position:absolute;
    top:340px;
    left:250px;
  }
}
 @media(max-width:500px){
  .shop4 p a {
    position: absolute;
    top:680px;
    left:30px;
    font-size:1.9rem;
    
  }
  }
.shop5 img{
  position:absolute;
  top:200px;
  left:630px;
}
@media(max-width:1023px){
  .shop5 img{
    position:absolute;
    top:270px;
    left:600px;
    width:10vw;
  }
}
@media(max-width:500px){
  .shop5 img{
    position: absolute;
    top:550px;
    left:320px;
    width:30vw;
  }
}
.shop5 p a {
  position: absolute;
  top:260px;
  left:580px;
  font-size:1.6rem;
  color:blue;
}
@media(max-width:1023px){ 
  .shop5 p a {
    position:absolute;
    top:340px;
    left:560px;
  }
}
@media(max-width:500px){
  .shop5 p a {
    position: absolute;
    top:680px;
    left:330px;
    font-size:1.9rem;
  }
}
.section3{
  position:relative;

}
.save{
  position:absolute;
  top:380px;
  left:60px;
  background-color:white;
  height:95vh;
  width:22vw;
  border:1px solid rgb(219, 216, 216);
}
@media (max-width:1023px) {
  .save{
    position:absolute;
    top:150px;
    left:50px;
    width:40vw;
    height:90vh;
  }
}
@media(max-width:500px) {
  .save{
    position:absolute;
    top:480px;
    left:20px;
    width:90vw;
    height:110vh;
  }
}
@media(max-width:1023px){
  .save img{
    width:80vw;
  }
}
@media(max-width:500px){
  .save img{
    width:100vw;
  }
}
.save h6{
  position:absolute;
  top:180px;
  left:20px;
  background-color:greenyellow;
  display:block;
  padding:5px 10px;
  font-size:15px;
}
@media(max-width:500px){
  .save h6{
   position: absolute; 
   top:230px;
   font-size: 2rem;
  }
}

.save h5{
  position:absolute;
  top:220px;
  left:20px;
  font-size:1.98rem;
  font-weight:600;
}
@media(max-width:500px){
  .save h5{
    position: absolute; 
   top:280px;
   font-size:2.5rem;

  }
}
.save h4{
  position: absolute;
  top:290px;
  left:20px;
  font-size:1.7rem;
  font-weight:400;
}

@media(max-width:500px){
  .save h4{
    position: absolute; 
   top:350px;
   font-size:2rem;
  }
}
.save p{
  position:absolute;
  top:440px;
  left:20px;
  display:block;
  background-color:rgb(25, 34, 199);
  font-size:15px;
  padding:15px 30px;
  text-align:start;
  color:white;
}
@media(max-width:500px){
  .save p{
    position: absolute; 
   top:450px;
   font-size:2.5rem;

  }
}
.save1{
  position:absolute;
  top:380px;
  left:350px;
  height:95vh;
  width:22vw;
  border:1px solid rgb(218, 216, 216);
}
@media(max-width:1023px) {
  .save1{
    position:absolute;
    top:150px;
    left:480px;
    width:40vw;
    height:95vh;
  }
}
@media(max-width:500px) {
  .save1{
    position:absolute;
    top:1080px;
    left:20px;
    width:90vw;
    height:110vh;
  }
}
@media(max-width:1023px) {
  .save1 img{
    width:80vw;
  }
}
@media(max-width:500px) {
  .save1 img{
    width:100%;
  }
}
.save1 h6{
  position:absolute;
  top:180px;
  left:20px;
  background-color:greenyellow;
  display:block;
  padding:12px 13px;
  font-size:1.4rem;

}
@media(max-width:500px){
  .save1 h6{
   position: absolute; 
   top:250px;
   font-size:1.8rem;
   padding:12px 13px ;
  }
}
.save1 h4{
  position: absolute;
  top:220px;
  left:20px;
  font-size:2.08rem;
  font-weight:600;
}
@media(max-width:500px){
  .save1 h4{
   position: absolute; 
   top:290px;
   left: 10px;
   font-size:2rem;
   padding:12px 13px ;
  }
}

.save1 h3 {
  position: absolute;
  top:320px;
  left:20px;
  font-size:16px;
  font-weight:400;
}
@media(max-width:500px) {
  .save1 h3{
   position: absolute; 
   top:380px;
   left:10px;
   font-size:1.8rem;
   padding:12px 13px ;
  }
}
.save1 p a{
  position:absolute;
  top:440px;
  left:20px;
  display:block;
  background-color:rgb(7, 40, 138);
  font-size:15px;
  padding:15px 30px;
  text-align:start;
  color:white;
  text-decoration: none;
}
@media(max-width:500px) {
  .save1 p a{
  font-size:23px;
  top: 480px;
  }
}

.save2{
  position:absolute;
  top:380px;
  left:640px;
  height:95vh;
  width:22vw;
  border:1px solid rgb(233, 233, 233);
}
@media(max-width:1023px){
.save2{
 position:absolute;
 top:750px;
 left:50px;
 width:40vw;
 height:95vh;
}
}
@media(max-width:500px) {
  .save2{
    position:absolute;
    top:2550px;
    left:20px;
    width:90vw;
    height:80vh;
  }
}
@media(max-width:1023px){
  .save2 img{
    width:80vw;
  }
}
@media(max-width:500px){
  .save2 img{
    width:100vw;
  }
}
.save2 h5 {
  position: absolute;
  top:220px;
  left:20px;
  font-size:23px;
  font-weight:600;
}
@media(max-width:500px){
  .save2 h5{
    position: absolute;
    top:270px;
    left:20px;
    font-size:23px; 
  }
}

.save2 h4{
  position:absolute;
  top:320px;
  left:20px;
  font-size:16px;
  font-weight:400;
}
@media(max-width:500px){
  .save2 h4{
    position: absolute;
    top:300px;
    left:20px;
    font-size:20px; 
  }
}

.save2 p a{
  position:absolute;
  top:440px;
  left:20px;
  display:block;
  background-color:rgb(11, 37, 181) ;
  font-size:15px;
  padding:15px 30px;
  text-align:start;
  color:white;
  text-decoration: none;
}
@media(max-width:500px){
  .save2 p a{
    position: absolute;
    top:330px;
    left:20px;
    font-size:25px; 
  }
}
.save3{
  position: absolute; 
  top:380px;
  left:930px;
  height:95vh;
  width:22vw;
  border:1px solid rgb(222, 219, 219);

}
@media(max-width:1023px) {
  .save3{
    position:absolute;
    top:750px;
    left:480px;
    width:40vw;
    height:95vh;
  }
}
@media(max-width:500px){
  .save3{
    position:absolute;
    top:1730px;
    left:20px;
    width:90vw;
    height:110vh;
  }
}
@media(max-width:1023px){
  .save3 img{
    width:80vw;
  }
}

@media(max-width:500px){
  .save3 img{
    width:100vw;
  }
}
.save3 h5{
  position:absolute;
  top:220px;
  left:20px;
  font-size:23px;
  font-weight:600;
}
@media(max-width:500px) {
  .save3 h5{
    position:absolute;
    top:280px;
    left:20px;
    width:92vw;
  }
}
.save3 h4{
  position:absolute;
  top:280px;
  left:20px;
  font-size:16px;
  font-weight:400;
}
@media(max-width:500px) {
  .save3 h4{
    position:absolute;
    top:380px;
    left:20px;
    width:90vw;
  }
}
.save3 p a{
  position:absolute;
  top:440px;
  left:20px;
  display:block;
  background-color:rgb(6, 38, 151) ;
  font-size:15px;
  padding:15px 30px;
  text-align:start;
  color:white ;
  text-decoration: none;
}
@media(max-width:500px) {
  .save3 p a{
  font-size:23px;
  top:470px ;
  }
}
.section4{
  position:absolute;
  top:1650px;
  padding-left:50px;
  padding-right:50px;
}
@media(max-width:1023px)
{
  .section4{
    position:absolute;
    top:2300px;
    left:-20px;
  }
}
@media(max-width:500px) {
.section4{
 position:absolute;
 top:3910px;
 left:10px;
}
}
@media(max-width:500px) {
  .section4 img{
   width:120vw;
   top:4000px;
   left:20px;
   
   }
  }

.section4 h6{
  position:absolute;
  top:180px;
  left:150px;
  background-color:greenyellow;
  display:block;
  padding:10px 20px;
  font-size:20px;
  width:20vw;
}

@media(max-width:1023px){
  .section4 h6{
    position:absolute;
    top:400px;
    left:50px;
  }
}
@media(max-width:500px){
  .section4 h6{
   position:absolute; 
   top:250px;
   left:20px;
   display:block;
  padding:15px 20px;
  font-size:20px;
  width:50vw;

  }
}
.section4 h5 {
  position: absolute;
  top:230px;
  left:150px;
  font-size:23px;
  font-weight:600;
}
@media(max-width:1023px) {
  .section4 h5{
    position:absolute;
    top:460px;
    left:50px;
  }
}
@media(max-width:500px) {
  .section4 h5{
    position:absolute;
    top:320px;
    left:20px;
    font-size:28px;
  }
}
.section4 h4{
  position:absolute;
  top:300px;
  left:150px;
  font-size:16px;
  font-weight:400;
}
@media(max-width:1023px){
.section4 h4{
  position:absolute;
  top:530px;
  left:50px;
}
}
@media(max-width:500px) {
  .section4 h4{
    position:absolute;
    top:400px;
    left:20px;
    font-size:20px;
  }
}
.section4 p a {
  position:absolute;
  top:380px;
  left:150px;
  display:block;
  background-color:rgb(15, 32, 186) ;
  font-size:15px;
  padding:15px 30px;
  text-align:start;
  color:white ;
  text-decoration: none;
  font-weight:bold;
}
@media(max-width:1023px){
.section4 p a{
  position:absolute;
  top:640px;
  left:50px;
}
}
@media(max-width:500px){
  .section4 p a{
    position:absolute;
    top:500px;
    left:20px;
    font-size: 23px;
  }
  }

.section5{
  position:relative;
}
.section5 h2{
  position:absolute;
  top:1650px;
  left:60px;
  font-size:28px;
}
@media(max-width:1023px){
.section5 h2{
  position:absolute;
  top:2100px;
  left:50px;
}
}
@media(max-width:500px) {
  .section5 h2{
    position:absolute;
    top:3700px;
    left:80px;
    font-size: 28px;
  }
}
.new{
  position:absolute;
  top:1700px;
  left:60px;
  height:100vh;
  width:22vw;
  border:1px solid rgb(193, 193, 193);
}
@media(max-width:1023px) {
  .new{
    position:absolute;
    top:2220px;
    left:50px;
    width:45vw;
    height:95vh;
  }
}  
@media(max-width:500px) {
  .new{
    position: absolute;
    top:3750px;
    left:30px;
    width:85vw;
    height:100vh;
  }

}
@media(max-width:1023px){
  .new img{
    width:80vw;
  }
}

@media(max-width:500px) {
  .new img{
    position:absolute;
    width:100%;
    
  }
}
.new h6{
  position:absolute;
  top:170px;
  left:20px;
  display:block;
  padding:10px;
  background-color:yellow;
  font-size:13px;
}
@media(max-width:500px) {
.new h6{
  top:260px;
  left:20px;
  font-size:20px;
}
}

.new h5{
  position: absolute;
  top:210px;
  left:20px;
  font-size:23px;
  font-weight:600;
}
@media(max-width:500px) {
  .new h5{
    position: absolute;
    top:320px;
    left:20px;
  }
}
.new h4{
  position:absolute;
  top:280px;
  left:20px;
  font-size:18px;
  font-weight:400;
}

@media(max-width:500px) {
  .new h4{
    position: absolute;
    top:350px;
    left:20px;
    font-size: 20px;
  }
}
.new p a{
  position:absolute;
  top:490px;
  left:20px;
  display:block;
  background-color:rgb(15, 26, 183) ;
  font-size:15px;
  padding:7px 15px;
  text-align:start;
  color:white;
  text-decoration: none;
}
@media(max-width:500px) {
  .new p a{
    position: absolute;
    top:470px;
    left:20px;
    font-size:23px ;
  }
}
.time{
  position:absolute;
  top:1700px;
  left:350px;
  height:100vh;
  width:22vw;
  border:1px solid rgb(169, 163, 163);
}
@media(max-width:1023px){
  .time{
    position: absolute;
    top:2220px;
    left:480px;
    width:40vw;
    height:95vh;
  }
}
@media(max-width:500px) {
  .time{
    position: absolute;
    top:4350px;
    left:30px;
    width:85vw;
    height:100vh;
  }
}
@media(max-width:1023px){
  .time img{
    width:80vw;
  }
}
@media(max-width:500px) {
 .time img {
 width:100vw;
 }
}
.time h6{
  position:absolute;
  top:170px;
  left:20px;
  display:block;
  padding:10px;
  background-color:yellow;
  font-size:18px;
}
@media(max-width:500px) {
  .time h6{
    position:absolute;
    top:240px;
    left:20px;
    font-size: 20px;
  }
}
.time h5{
  position: absolute;
  top:210px;
  left:20px;
  font-size:23px;
  font-weight:600; 
}
@media(max-width:500px) {
.time h5{
  position:absolute;
  top:290px;
  left:20px;
}}
.time h4{
  position:absolute;
  top:280px;
  left:20px;
  font-size:1.8rem;
  font-weight:400;
}
@media(max-width:500px) {
.time h4{
  top:330px;
  left:20px;
}
}
.time p a {
  position:absolute;
  top:490px;
  left:20px;
  display:block;
  background-color:rgb(17, 29, 160) ;
  font-size:15px;
  padding:7px 15px;
  text-align:start;
  color:white;
  text-decoration: none; 
}
@media(max-width:500px) {
  .time p a{
    top:470px;
    left:20px;
    font-size:23px;
  }
  }

.learn{
  position:absolute;
  top:1700px;
  left:640px;
  height:100vh;
  width:22vw;
  border:1px solid rgb(169, 163, 163);
}
@media(max-width:1023px) { 
  .learn{
    position: absolute;
    top:2900px;
    left:50px;
    width:40vw;
    height:95vh;
  }
}
@media(max-width:1023px) {
  .learn img{
    width:80vw;
  }
}
@media(max-width:500px) {
  .learn img{
    width:100vw;
  
  }
  }
@media(max-width:500px) {
  .learn{
    position:absolute;
    top:4960px;
    left:20px;
    width:90vw;
    height:95vh;
  }
}
.learn h4{
  position:absolute;
  top:210px;
  left:20px;
  font-size:23px;
  font-weight:600; 

}
@media(max-width:500px) {
  .learn h4{
    top:260px;
    left:20px;
    font-size:28px;
  }
  }
.learn h3{
  position:absolute;
  top:280px;
  left:20px;
  font-size:18px;
  font-weight:400;
}
@media(max-width:500px) {
  .learn h3{
    position: absolute;
    top:320px;
    left:20px;
    font-size:20px;
  }
  }
.learn p a{
  position:absolute;
  top:490px;
  left:20px;
  display:block;
  background-color:rgb(8, 38, 169) ;
  font-size:15px;
  padding:7px 15px;
  text-align:start;
  color:white;
  text-decoration:none; 
}
@media(max-width:500px) {
  .learn p a{
    position: absolute;
    top:440px;
    left:20px;
    font-size: 25px;
  }
  }
.copilot{
  position: absolute;
  left:930px;
  height:100vh;
  top:1700px;
  width:22vw;
  border:1px solid gainsboro ;
}
@media(max-width:1023px){ 
  .copilot{
    position:absolute;
    top:2900px;
    left:480px;
    width:40vw;
    height:95vh;
  }
}
@media(max-width:500px) {
  .copilot{
    position: absolute;
    top:5600px;
    left:20px;
    width:90vw;
    height:120vh;
  }
}
@media(max-width:500px) {
  .copilot img{
   width: 100vw;
  }
  }
.copilot h4{
  position:absolute;
  top:210px;
  left:20px;
  font-size:23px;
  font-weight:600; 

}
@media(max-width:500px) {
  .copilot h4{
    top:280px;
    left:20px;
    font-size:28px;
  }
  }
.copilot h3{
  position:absolute;
  top:330px;
  left:20px;
  font-size:18px;
  font-weight:400; 

}
@media(max-width:500px) {
  .copilot h3{
    top:390px;
    left:20px;
    font-size: 20px;
  }
  }
.copilot p a {
  position:absolute;
  top:490px;
  left:20px;
  display:block;
  background-color:rgb(7, 32, 145) ;
  font-size:1.28rem;
  padding:7px 15px;
  text-align:start;
  color:white;
  text-decoration:none; 
}
@media(max-width:1023px){
  .copilot p a{
    position:absolute;
    top:480px;
    left:30px;
  }
}
@media(max-width:500px) { 
  .copilot p a {
    position:absolute;
    top:560px;
    left:20px;
    font-size: 18px;
    
  }
}
.section6{
  position:relative;
}

.section6 h2{
  position: absolute;
  top:2300px;
  left:60px;
  font-size:1.875rem;
}
@media(max-width:1023px){
  .section6 h2{
    position:absolute;
    top:3480px;
    left:50px;
  } 
 }
 @media(max-width:500px) {
  .section6 h2 {
    position:absolute;
    top:6300px;
    left:40px;
    font-size:2.625rem;
  }
  }
.trend{
  position: absolute;
  top:2400px;
  left:60px;
  height:80vh;
  width:30vw;
  border:1px solid rgb(169, 163, 163);
}
@media(max-width:1023px) {
  .trend{
    position: absolute;
    top:3580px;
    left:30px;
    width:30vw;
  }
 }
 @media(max-width:500px) {
  .trend{
    position:absolute;
    top:6400px;
    left:20px;
    width:90vw;
    height:95vh;
  }}
    @media(max-width: 500px) {
    .trend img{
    width: 120vw;
      }
    
 }
.trend h3{
  position:absolute;
  top:230px;
  left:20px;
  font-size:23px;
  font-weight:600; 
}
@media(max-width:500px) {
  .trend h3{
    top:260px;
    left:20px;
    font-size:28px;
  }
  }
.trend h5{
  position:absolute;
  top:260px;
  left:20px;
  font-size:16px;
  font-weight:400; 
}
@media(max-width: 500px) {
  .trend h5{
    top:310px;
    left:20px;
    font-size:20px;
  }
  }
.trend p a{
  position:absolute;
  top:370px;
  left:20px;
  display:block;
  background-color:rgb(11, 26, 138) ;
  font-size:15px;
  padding:7px 15px;
  text-align:start;
  color:white;
  text-decoration: none;  
}
@media(max-width:500px) {
  .trend p a{
    top:440px;
    left:20px;
    font-size:25px;
  }
  }
.meeting{
  position: absolute;
  top:2400px;
  left: 455px;
  height:80vh;
  width:30vw;
  border:1px solid grey;
}
@media(max-width:1023px){
  .meeting{
    position: absolute;
    top:3580px;
    left:320px;
    width:30vw;
  }
}
@media(max-width:500px) {
  .meeting{
    position: absolute;
    top:6995px;
    left:20px;
    width:90vw;
    height:95vh;

  }
}
@media(max-width: 500px) {
  .meeting img{
  width: 120vw;
    }
  
}
.meeting h3{
  position:absolute;
  top:230px;
  left:20px;
  font-size:23px;
  font-weight:600; 
}
@media(max-width:500px) {
  .meeting h3{
    top:260px;
    left:20px;
    font-size:28px;
  }
  }
.meeting h5{
  position:absolute;
  top:260px;
  left:20px;
  font-size:16px;
  font-weight:400;  
}
@media(max-width: 500px) {
  .meeting h5{
    top:310px;
    left:20px;
    font-size:20px;
  }
  }
.meeting p a{
  position:absolute;
  top:370px;
  left:20px;
  display:block;
  background-color:rgb(23, 27, 164) ;
  font-size:15px;
  padding:7px 15px;
  text-align:start;
  color:white;
  text-decoration: none;  
}
@media(max-width:500px) {
  .meeting p a{
    top:430px;
    left:10px;
    font-size:21px;
  }
  }
.AI{
  position: absolute;
  top:2400px;
  left:850px;
  height:80vh;
  width:65vh;
  border:1px solid grey;
}
@media(max-width:1023px){ 
  .AI{
    position: absolute;
    top:3580px;
    left:600px;
    width:30vw;
  }
}
@media(max-width:500px) {
  .AI{
    position:absolute;
    top:7600px;
    left:20px;
    width:90vw;
    height:90vh;
  }
}
@media(max-width: 500px) {
  .AI img{
  width: 120vw;
    }
  
}
.AI h3{
  position:absolute;
  top:230px;
  left:20px;
  font-size:23px;
  font-weight:600; 
}
@media(max-width:500px) {
  .AI h3{
    top:270px;
    left:20px;
    font-size: 23px;
  }
  }
.AI h5{
  position:absolute;
  top:290px;
  left:20px;
  font-size:16px;
  font-weight:400;
}
@media(max-width: 500px) {
  .AI h5{
    top:330px;
    left:20px;
    font-size:20px;
  }
  }
.AI p a {
  position:absolute;
  top:380px;
  left:20px;
  display:block;
  background-color:rgb(14, 23, 158) ;
  font-size:15px;
  padding:7px 15px;
  text-align:start;
  color:white; 
  text-decoration: none;   
}
@media(max-width:500px) {
  .AI p a{
    top:420px;
    font-size:25px;
    left:20px;
  }
  }
.section7{
  position:relative;

}
.section7 img {
  position:absolute;
  top:2900px;
  left:60px;
  width:90vw;
  height:120vh;

}
@media(max-width:1023px){ 
  .section7 img{
    position:absolute;
    top:4100px;
    left:30px;
  }
}
@media(max-width:500px)
{
  .section7 img{
    position:absolute;
    top:8200px;
    left:20px;
    height:60vh;
    width: 90vw;
  }
}
.score1{
  background-color:rgba(0,0,0,0.5);
  position:absolute;
  top:2900px;
  left:700px;
  height:120vh;
  width:38vw;
}
@media(max-width:1023px){
  .score1{ 
    position:absolute;
    top:4800px;
    left:30px;
    height:50vh;
    width:90vw;
    background-color:white;
    color:black;
  }
}
@media(max-width:500px) {
  .score1{
    position:absolute;
    top:8580px;
    left:-30px;
    height:40vh;
    width:150vw ;
  }
}
.score1 h4{
  position:absolute;
  top:200px;
  left:60px;
  font-size:30px;
  color:white;
}
@media(max-width:1023px){
  .score1 h4{
    color:black;
    top:10px;
    left:60px;
    
  }
}

@media(max-width:500px){
  .score1 h4{
    top:100px;
    font-size:28px ;
    
  }
}


.score1 h5{
  position: absolute;
  top:280px;
  left:60px;
  color:white;
  font-size:18px;
  font-weight:200;
  
}
@media(max-width:1023px){
  .score1 h5{
    color:black;
    top:100px;
    left:60px;
  }
}
@media(max-width:500px){
  .score1 h5{
    color:black;
    top:200px;
    left:60px;
    font-size: 25px;
  }
}

.score1 p a{
  position:absolute;
   top:400px;
   left:60px;
   display:block;
  background-color:rgb(58, 72, 193) ;
  font-size:15px;
  padding:8px 16px;
  text-align:start;
  color:white;
  text-decoration: none;  
}

@media (max-width: 1023px) {
  .score1 p a{
  top:180px;
  font-size:28px;
  
  }
}
@media (max-width: 500px) {
.score1 p a{
top:380px;
font-size:28px;

}
}
.section8{
  position:relative;
  height:40vh;
  width:80vw;
}

.section8 p{
  position:absolute;
  top:3600px;
  left:60px;
  font-size:20px;
}
@media(max-width: 1023px) {
  .section8 p{
    position:absolute;
    top:5100px;
    left:90px;
    font-size:1.8rem;
  }
}
@media(max-width: 500px) {
  .section8 p{
    position: absolute;
    top:9100px;
    left:20px;
    font-size:23px ;
  }
}
.socials{
  position:absolute;
  top:3600px;
  left:250px;
}
@media (max-width:1023px) {
  .socials{
    position:absolute;
    top:5100px;
    left:230px;
  }
   }
   @media(max-width:500px) {
    .socials{
      position:absolute;
      top:9100px;
      left:190px;
    }
   }

.socials1{
  position: absolute;
  top:3600px;
  left:300px;
}
@media (max-width:1023px) {
  .socials1 {
    position:absolute;
    top:5100px;
    left:260px;
  }
}
@media(max-width:500px) {
  .socials1{
    position: absolute;
    top:9100px;
    left:210px;
  }
}
.socials2{
  position: absolute;
  top:3600px;
  left:350px;
}
@media(max-width:1023px){
  .socials2{
    position:absolute;
    top:5100px;
    left:300px;
  }
}
@media(max-width:500px) {
  .socials2{
    position:absolute;
    top:9100px;
    left:250px;
  }
}
.footer{
  position:relative;
  height:90vh;
  top:3600px;
  background-color:rgb(229, 231, 235);  
  font-size:12px;
  line-height:3;

}
@media(max-width:1023px) {
  .footer{
  position:absolute;
  top:6300px;
  height:200vh;
  width:110vw;
  background-color:rgb(229,231,235);
}
}
@media(max-width:500px){
  .footer{
    position:absolute;
    top:9990px;
    left:0px;
    height:480vh;
    width:100%;
    font-size:1.4rem;
  }
}
.footer1{
  position:absolute;
  top:60px;
  left:60px;
}
@media(max-width:1023px) {
 .footer1{
  position:absolute;
  top:40px;
  left:150px;
  font-size: 1.5rem;
 }
}
@media(max-width:500px) {
.footer1{
position:absolute;
top:30px;
left:20px;
}
}

.footer2{
  position:absolute;
  top:60px;
  left:220px;
}
@media(max-width:1023px) {
 .footer2{
 position:absolute;
top:40px;
left:380px;
font-size: 1.5rem;
}
}
@media(max-width:500px) {
  .footer2{
    position:absolute;
    top:370px;
    left:20px;
  }
}
.footer3{
  position:absolute;
  top:60px;
  left:420px;
}
@media(max-width:1023px) {
  .footer3{
    position: absolute;
    top:40px;
    left:600px;
    font-size: 1.5rem;
  }
}
@media(max-width:500px) {
  .footer3{
    position:absolute;
    top:750px;
    left:20px;
  }
}

.footer4{
  position: absolute;
  top:60px;
  left:620px;
}
@media(max-width:1023px) {
  .footer4{
    position:absolute;
    top:480px;
    left:150px;
    font-size:1.5rem;
  }
}
@media(max-width:500px) {
  .footer4{
    position:absolute;
    top:1150px;
    left:20px;
  }
}
.footer5{
  position:absolute;
  top:60px;
  left:820px;
}

@media(max-width:1023px) {
  .footer5{
    position:absolute;
    top:480px;
    left:380px;
    font-size:1.5rem;
  }
}
 
@media(max-width:500px) {
  .footer5{
    position:absolute;
    top:1500px;
    left:20px;
  }
}
.footer6{
  position:absolute;
  top:60px;
  left:1000px;
}
 @media(max-width:1023px) {
 .footer6{
  position:absolute;
  top:550px;
  left:600px;
  font-size: 1.5rem;
 }
}
@media(max-width:500px) {
  .footer6{
    position:absolute;
    top:1900px;
    left:20px;
  }
}

.footer7 {
  position: absolute;
  top:450px;
  left:400px;
}
@media(max-width:1023px) {
  .footer7{
  position:absolute;
  top:950px;
  left:30px;

}
}
@media(max-width:500px) {
  .footer7{
    position:absolute;
    top:2300px;
    left:20px;
  }
}
.footer7 li{
  float:left;
  padding:8px;
}
@media(max-width:1023px) {
  .footer7 li{
    float:left;
    padding:5px;
  }
}
.footers{
  position:absolute;
  top:430px;
  left:60px;
}
@media(max-width:1023px) {
  .footers{
    position:absolute;
    top:990px;
    left:20px;
    font-size: 1.3rem;
  }
}
@media (max-width:500px){
  .footers{
    position:absolute;
    top:2250px;
  }
}
.footers li{
  float:left;
  padding:10px;
}
 
.footer a {
  text-decoration:none;
  color:black;
}
.footer p{
  font-size:18px;
}